// Basics
html {
    background: #f5f5f5;
    color: #1b1b1b;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    scroll-behavior: smooth;
}
a {
    color: #0b2fce;
    &:visited {
        color: #182769;
    }
}
// Main Grid Layout
body {
    margin: 0 auto;
    width: 100%;
    font-size: 1em;
    display: grid;
    //grid-template-columns: 1fr;
    grid-template-rows: auto auto 10vh;
    grid-template-areas: 
        "head"
        "main"
        "footer";
}
// Header
header {
    grid-area: head;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    h1 {
        //padding: 2rem;
        align-self: center;
        //font-size: 1.75em;
    }
}
// Navigation
.menu {
    align-self: center;
    a {
        //padding: 1em;
        padding-right: 1em;
        text-decoration: none;
        &[aria-current] {
            text-decoration: underline;
        }
    }
}
// Grid for Content
main {
    grid-area: main;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    padding: 2rem;
}
img {
    width: 100%;
    max-width: 100%;
}
// Per Project Grid Layout
section {
    display: grid;
    grid-template-rows: auto 12vh auto;
    grid-template-areas: 
        "return"
        "title"
        "content";
}
.return {
    grid-area: return;
}
.title {
    grid-area: title;
}
.content {
    display: grid;
    grid-area: content;
    //grid-template-columns: 45rem auto;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
}
// Footer
footer {
    grid-area: footer;
    padding: 1.5rem;
}