<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="stylesheet" href="{{ base.url }}/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ base.url }}/assets/css/all.min.css">
        <link rel="stylesheet" href="{{ base.url }}/assets/css/custom.css">

        <link rel="manifest" href="{{ base.url }}/manifest.json">

        {% if page.url == '/amp/' %}}
        <link rel="amphtml" href="{{ page.url | prepend: site.canonical_baseurl | prepend: site.url | append: 'index.html' }}" />
        {% else %}
        <link rel="amphtml" href="{{ page.url | prepend: site.canonical_baseurl | prepend: site.url }}" />
        {% endif %}

        <title>Marko Idžan - {{ page.title }}</title>
    
    </head>
    
    <body>
        
        {% include navigation.html %}

        {{ content }}

        {% include scripts.html %}

    </body>
</html>