---
layout: default
---
<div class="blog">
    {% for post in paginator.posts %}
    <div class="grid">
        <h2><a href="{{ post. url }}" class="blogPost">{{ post.title }}</a></h2>
        <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 100 }}</p>
        <p class="smaller"><strong>Posted on:</strong> {{ post.date | date_to_string }}</p>
        <a href="{{ post.url }}" class="btn readmore">Read more</a>
    </div>
    {% endfor %}
</div>
{% if paginator.total_pages > 1 %}
<div class="container">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="btn paginator left">Newer</a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="btn paginator medium">Older</a>
    {% endif %}
</div>
{% endif %}