/*
* Marko Idzan Template
*/
body {
  background: #d9dbdb;
}

.nav-link {
  color: #FF5E00;
}

#mainNav {
  min-height: 56px;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #FF5E00;
  border: 1px solid #FF5E00;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(#FF5E00, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }

  #mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: #FF5E00;
  }
  #mainNav .nav-link:hover {
    color: #B24200;
    border-bottom: #B24200 solid 0.25rem;
  }
  #mainNav .nav-link:active {
    color: white;
    border-bottom: #B24200 solid 0.25rem;
  }
  #mainNav.navbar-shrink {
    background-color: whitesmoke;
  }

  #mainNav.navbar-shrink .nav-link {
    color: #FF5E00;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #FF5E00;
    border-bottom: #B24200 solid 0.25rem;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #FF5E00;
    border-bottom: #B24200 solid 0.25rem;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #B24200;
    outline: none;
    border-bottom: 0.25rem solid #B24200;
  }
}

.nav-pills .nav-link.active, .nav-pills.show > .nav-link {
  background-color: #19FFFF;
  color: #000000;
}

.nav-pills .nav-link {
  border-radius: 1rem;
}

.bg-info {
  background-color: #00FFFF !important;
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: url(../img/background.png) repeat center;
  color: black;
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
}

.title-section {
  padding-top: 10rem;
  height: 15vh;
  background: url(../img/background.png) repeat center;
  color: black;
}

.title {
  background: url(../img/background.png) repeat center;
  color: black;
}

.about-details {
  padding-bottom: 2rem;
}

/*
* Custom Tweaks
*/
.shadow-custom {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.spaced {
  padding-top: 2rem;
}

/*
* Typed.js Tweaks
*/
.callout::after{
  content: '|';
  display: inline;
  animation: blink 0.8s infinite;
}

.typed-cursor {
  opacity: 0;
display: none;
}
