---
layout: portfolio
---
<div class="container spaced">
    <div class="row">
        <div class="col-4">
            <figure>
                <source srcset="{{ item.image_webp }}" type="image/webp">
                <source srcset="{{ item.image_jpg }}" type="image/jpeg">
                <img src="{{ item.image_jpg }}" alt="{{ item.project_name }}" class="img-fluid">
            </figure>
        </div>
        <div class="col-8">
            {{ content }}
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a href="{{ item.project_link }}" role="button" class="btn btn-outline-secondary">Read more</a>
        </div>
    </div>
</div>