---
layout: item
---
<a href="/portfolio" class="btn project">Return to portfolio</a>
<h1>{{ page.name }}</h1>
<div class="project">
    <div class="grid">
        <picture>
            <source srcset="{{ page.imagewebp }}">
            <img src="{{ page.image }}" alt="{{ page.name }}">
        </picture>
    </div>
    <div class="grid">

        {{ content }}

        <h3 class="uppercase">Project informations</h3>
        <p><img src="/assets/img/icons/author.svg" alt="Author" class="icon">&nbsp;<span><strong class="uppercase">Author:</strong> {{ page.author }}</span></p>
        <p><img src="/assets/img/icons/customer.svg" alt="Client" class="icon">&nbsp;<span><strong class="uppercase">Client:</strong> {{ page.client }}</span></p>
        <p><img src="/assets/img/icons/calendar.svg" alt="Start date" class="icon">&nbsp;<span><strong class="uppercase">Project start date:</strong> {{ page.startdate }}</span></p>
        <p><img src="/assets/img/icons/link.svg" alt="Web Site" class="icon">&nbsp;<span><strong class="uppercase">Project Web Site:</strong> <a href="{{ page.website }}" target="_blank">{{ page.website }}</a></span></p>
    </div>
</div>